<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Traveller2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="Traveller2.Traveller2" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Traveller2.Properties.Settings>
            <setting name="CTTrade" serializeAs="String">
                <value>CTTradeCodes.txt</value>
            </setting>
            <setting name="MTTrade" serializeAs="String">
                <value>MTTradeCodes.txt</value>
            </setting>
            <setting name="T5Trade" serializeAs="String">
                <value>T5TradeCodes.txt</value>
            </setting>
            <setting name="Sector" serializeAs="String">
                <value>Spinward.SEC</value>
            </setting>
            <setting name="TLModifier" serializeAs="String">
                <value>TLModifier.txt</value>
            </setting>
            <setting name="PortModifier" serializeAs="String">
                <value>PortModifier.txt</value>
            </setting>
            <setting name="CUTrade" serializeAs="String">
                <value>CUTradeCodes.txt</value>
            </setting>
            <setting name="ShipDataFile" serializeAs="String">
                <value/>
            </setting>
        </Traveller2.Properties.Settings>
        <Traveller2.Traveller2>
            <setting name="CTTradeCodes" serializeAs="String">
                <value>CTTradeCodes.txt</value>
            </setting>
            <setting name="MTTradeCodes" serializeAs="String">
                <value>MTTradeCodes.txt</value>
            </setting>
            <setting name="T5TradeCodes" serializeAs="String">
                <value>T5TradeCodes.txt</value>
            </setting>
            <setting name="PortModifier" serializeAs="String">
                <value>PortModifier.txt</value>
            </setting>
            <setting name="TLModifier" serializeAs="String">
                <value>TLModifier.txt</value>
            </setting>
            <setting name="CurrentSector" serializeAs="String">
                <value>Spinward.sec</value>
            </setting>
        </Traveller2.Traveller2>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
